@model UniversityManagementSystem.Models.Result

@{
    ViewBag.Title = "Result Entry";
}

<h2>Result Entry</h2><hr/>

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentId, "Student Registratioin No")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StudentId", String.Empty)
            @Html.ValidationMessageFor(model => model.StudentId)
        </div>

        <div id="section-data">
            @Html.Partial("~/Views/Shared/_FilteredResult.cshtml", Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GradeId, "Select Grade Letter")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GradeId")
            @Html.ValidationMessageFor(model => model.GradeId)
        </div>
        <br/>
        <p>
            <input type="submit" value="Save" class="btn btn-primary"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    function FillData(id) {
        $("#section-data").load("/Result/FilteredSection", { studentId: id });
    }

    $(function () {
        $("#StudentId").change(function () {
            var id = $("#StudentId").val();
            FillData(id);
        });
    });
</script>
