@model IEnumerable<UniversityManagementSystem.Models.Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2><hr />

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="section-data">
        @Html.Partial("~/Views/Shared/_FilteredViewResult.cshtml")
    </div>
}*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.RegistrationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Code)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Grade.GradeName)*@
            Grade Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.RegistrationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade.GradeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResultId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResultId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResultId })
        </td>
    </tr>
}

</table>
